{% extends "base.html" %}
{% block page_title %}Project Detail: {{ project.name }}{% endblock page_title %}

{% block page_buttons %}
<form action="{% url 'project_delete' project.pk %}" method="post">
    {% csrf_token %}
    <button class="outline contrast" type="submit">Delete Project</button>
    <a role="button" class="secondary" href="{% url 'project_update' project.pk %}">Edit Project</a>
    <a role="button" href="{% url 'task_create' %}">Create a Task</a>
</form>


{% endblock page_buttons %}

{% block main_content %}
        <dl>
            <dt>Description:</dt>
            <dd>{{ project.description }}</dd>
            <dt>Created at:</dt>
            <dd>{{ project.created_at }}</dd>
            <dt>Last Updated:</dt>
            <dd>{{ project.updated_at }}</dd>
            <dt>Created by:</dt>
            <dd>{{ project.created_by }}</dd>
        </dl>


        <table>
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Reported By</th>
                    <th>Assigned To</th>
                    <th>Due Date</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></td>
                        <td>{{ task.reported_by }}</td>
                        <td>{{ task.assigned_to }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <form action="{% url 'task_delete' task.pk %}" method="post">
                                {% csrf_token %}
                                <button class="contrast" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock main_content %}
